.bg-header{
    height: 380px;
    background-position: top center;
}

.bg-header .container{
    padding-top: 15vh;
}

.description-p{
    margin: 10px auto 0;
    max-width: 600px;
}

.main{
    min-height: 450px;
    height: 100%;
}

.cont{
    padding-bottom: 50px;
    min-height: 500px;
    height: 100%;
    margin-bottom: 50px;
}